

<main class="side-main">

  <section class="hero-banner mb-30px">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-banner__img">
            <img class="img-fluid" src="assets/img/banner/hero-banner.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 pt-5">
          <div class="hero-banner__content">
            <h1>Jordan Competitive Programming</h1>
            <p dir="ltr">If you want to be a great programmer, you have to learn the art of thinking, as code is only a way of expressing your thoughts to the machine.</p>
            <a class="button bg" routerLink="/blog/introduction_to_the_competitive_programming">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-margin">
    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2 class="section-intro__title">Competitive Programming Contests</h2>
        <p class="section-intro__subtitle">A programming competition generally involves the host presenting a set of logical or mathematical problems
          to the contestants who are required to write computer programs capable of solving each problem.
          Judging is based mostly upon number of problems solved and time spent for writing successful solutions, but may also include other factors.</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-package"></i>
                </span>
              <h3 class="card-feature__title">IEEExtreme</h3>
              <p class="card-feature__subtitle">Annual worldwide contest for university students, where each country choose one place to participate from it online </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-mouse-alt"></i>
                </span>
              <h3 class="card-feature__title">JordanOI</h3>
              <p class="card-feature__subtitle">Annual national contest for secondary school students, where the winners get selected to represent Jordan in International Olympiad Informatics</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                <span class="card-feature__icon">
                  <i class="ti-headphone-alt"></i>
                </span>
              <h3 class="card-feature__title">ICPC</h3>
              <p class="card-feature__subtitle"> "it is the oldest, largest, and most prestigious programming contest in the world".</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding--small bg-magnolia">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-md-5 mb-5 mb-md-0">
          <div class="about__content">
            <h2>IEEExtreme</h2>
            <p>IEEEXtreme is a global challenge in which teams of IEEE Student members – advised and proctored by an IEEE member, and often supported by an IEEE Student Branch – compete in a 24-hour time span against each other to solve a set of programming problems.</p>
            <a class="button button-light" target="_blank" href="https://ieeextreme.org/">Learn More</a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="about__img">
            <img class="img-fluid" src="assets/img/home/ieeextreme_logo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-margin">

    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2 class="section-intro__title">The ICPC International Collegiate Programming Contest</h2>
        <p class="section-intro__subtitle">International Collegiate Programming Contest (ICPC) is a yearly programming contest,
          "it is the oldest, largest, and most prestigious programming contest in the world".
          <br>
          Currently, each year more than 50,000 students participate in the official contests and 3,000 universities in 111 countries and the first championship held in 1977.

          Each year, the ICPC regionals begin at local competitions among classmates to determine who may represent their university.
          Success at one level leads to an invitation to the next.
          Each region progresses differently, but the end result is the same, the best teams advance.
          The final regional contest determines the teams advancing to the World Finals.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">

          <div class="row offer-single-wrapper">
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-pencil-alt"></i>
                  </span>
                <h4>ICPC</h4>
                <p>Final Stage</p>
              </div>
            </div>

            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-ruler-pencil"></i>
                  </span>
                <h4>ArabCPC</h4>
                <p>Third Stage</p>
              </div>
            </div>
          </div>

          <div class="row offer-single-wrapper">
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-cut"></i>
                  </span>
                <h4>JordanCPC</h4>
                <p>Second Stage</p>
              </div>
            </div>

            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                  <span class="offer-single__icon">
                    <i class="ti-light-bulb"></i>
                  </span>
                <h4>AmmanCPC & ArabellaCPC & JuCPC</h4>
                <p>First Stage</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="offer-single__img">
            <img class="img-fluid" src="assets/img/home/icpc.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding--small bg-magnolia">
    <div class="container">
      <div class="row align-items-center pt-xl-3 pb-xl-5">
        <div class="col-lg-6">
          <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
            <img class="img-fluid" src="assets/img/home/jordan_oi.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="solution__content">
            <h2>Jordanian Olympiad In Informatics</h2>
            <p>The Jordanian Olympiad in Informatics (JOI) is an annual competitive programming competition for secondary school students.</p>
            <a class="button button-light" target="_blank" href="http://jordanoi.com">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>

